.env

mosquitto-docker/data/*
mosquitto-docker/log/*
mosquitto-docker/config/ca_certificates/*
mosquitto-docker/config/certs/*
mosquitto-docker/config/passwd

influxdb/data/*

/web-backend/.venv

web-frontend/web-frontend/node_modules
web-frontend/web-frontend/dist/